* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.container {
    display: flex;
    aspect-ratio: 1/1;
    height: 100vh;
}

.spacer {
    display: flex;
    flex: 1 1 auto;
    background-color: black;
}
