* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body,
.container,
.spacer,
.center,
.header {
    display: flex;
}

.container {
    flex: 1 1 auto;
}

.spacer {
    flex: 1 1 auto;
    background-color: black;
}

.center {
    flex-direction: column;
    height: 100vh;
    aspect-ratio: 1/1;
}

.header {
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    background-color: #bdbdbd;
}

button {
    padding: 5px;
}